Notifiable trait should include SOA record when calling notify_zone_changed()

When bind restarts, it can send a NOTIFY to the secondary servers. The NOTIFY contains the SOA record containing the serial number known by the primary. When acting as a secondary, a server built with the domain library implements the Notifiable trait and the notify_zone_changed() method. This method is triggered by the NOTIFY message from the primary server and contains the zone and source address of the primary but does not contain the SOA record. The SOA record would be convenient so that the secondary can know whether to issue an AXFR / IXFR based on the serial number. Currently, the secondary would always have to send an AXFR or IXFR with its existing serial number which may or may not be the latest.

Hi @pusateri,

Firstly, thank you very much for using the `domain` crate and for trying out the `unstable-server-transport` feature!

I assume you are referring to the following sections from RFC 1996:

> 3.7. A NOTIFY request has QDCOUNT>0, ANCOUNT>=0, AUCOUNT>=0,
   ADCOUNT>=0.  If ANCOUNT>0, then the answer section represents an
   unsecure hint at the new RRset for this <QNAME,QCLASS,QTYPE>.  A
   slave receiving such a hint is free to treat equivilence of this
   answer section with its local data as a "no further work needs to be
   done" indication.  If ANCOUNT=0, or ANCOUNT>0 and the answer section
   differs from the slave's local data, then the slave should query its
   known masters to retrieve the new data.

And:

> 3.11. The only defined NOTIFY event at this time is that the SOA RR
   has changed.  Upon completion of a NOTIFY transaction for QTYPE=SOA,
   the slave should behave as though the zone given in the QNAME had
   reached its REFRESH interval (see [[RFC1035](https://www.rfc-editor.org/rfc/rfc1035)]), i.e., it should query
   its masters for the SOA of the zone given in the NOTIFY QNAME, and
   check the answer to see if the SOA SERIAL has been incremented since
   the last time the zone was fetched.  If so, a zone transfer (either
   AXFR or IXFR) should be initiated.

The initial implementation of `Notifiable` in `domain` does NOT include this SOA hint because:

1. The generic NOTIFY specification (i.e. not specific to SOA) defines (in section 3.7 of RFC 1996) that the presence of an "ANSWER" (ANCOUNT > 0) is not guaranteed and even if present is only a "hint".
2. The SOA specific specification (defined in section 3.11 of RFC 1996) states that the _"slave should ... query its masters for the SOA of the zone given in the NOTIFY QNAME, and check the answer to see if the SOA SERIAL has been incremented since the last time the zone was fetched. If so, a zone transfer (either AXFR or IXFR) should be initiated."_.

I.e. we cannot rely on receiving a SOA and even if we receive one it is only a hint and an XFR should be attempted anyway.

The intent of `Notifiable` was to allow implementations to use NOTIFY as intended, i.e. to respond irrespective of any received SOA to the received NOTIFY. Further, the only currently defined user of `Notifiable` is the `NotifyMiddlewareSvc` which doesn't do a lot and if necessary one can replace it with your own impl that captures and uses the received SOA rather than ignoring it.

As this feature is behind an unstable feature gate we could indeed extend it to include the SOA in the data sent to `Notifiable::notify_zone_changed` but one additional problem there is that there is nothing SOA specific about `Notifiable` and so in _theory_ it would have to support sending arbitrary data related to any kind of NOTIFY that might have been received, and one cannot know which parts of a custom NOTIFY request message may be of interest.

We could make `Notifiable` SOA specific on the basis that no other NOTIFY types were ever defined, though I think I recall seeing attempts to use NOTIFY for other purposes in other RFC drafts.

Thinking about this a bit more, the documentation for [`NotifyMiddlewareSvc`] is slightly inaccurate. It states:

> [NotifyMiddlewareSvc](https://docs.rs/domain/latest/domain/net/server/middleware/notify/struct.NotifyMiddlewareSvc.html) implements an [RFC 1996](https://www.rfc-editor.org/info/rfc1996) compliant recipient of DNS NOTIFY messages.

Yes it implements a recipient of DNS NOTIFY messages, but it only handles NOTIFY requests with QTYPE SOA, all other NOTIFY requests pass through the service unhandled.

Also, with respect to my comment above:

> We could make `Notifiable` SOA specific on the basis that no other NOTIFY types were ever defined, though I think I recall seeing attempts to use NOTIFY for other purposes in other RFC drafts.

If we wanted to handle other NOTIFY event types those could conceivably be handled by adding additional event specific callback functions to the `Notifiable` trait.

While it would be backward incompatible to change the trait, the trait is behind an unstable feature gate so that's okay. What we could do then is extend the trait like so:

```rust
pub trait Notifiable {
    // Required method
    fn notify_zone_changed(
        &self,
        class: Class,
        apex_name: &Name<Bytes>,
        source: IpAddr,
        soa: Option<&Soa<Name<Bytes>>>,
    ) -> Pin<Box<dyn Future<Output = Result<(), NotifyError>> + Sync + Send + '_>>;
}
```

And extend the `NotifyMiddlewareSvc` to extract the SOA RR from the ANSWER of the NOTIFY request, if present, and pass a reference to its RDATA in the call to `notify_zone_changed()`.

However, there are a couple of things here to deal with:

1. What should we do if the NOTIFY SOA RR has a different NAME or CLASS to that of the NOTIFY request? RFC 1996 is vague on this point, it just says to check the SOA SERIAL, but I assume we should ignore (log?) a NOTIFY request whose CLASS or NAME does not match of the CLASS or NAME of the SOA RR in the accompanying ANSWER record.
2. How do we deal with the mismatch of `Name` type used by `Notifiable` and `NotifyMiddlewareSvc`]. The former uses `Name<Bytes>` while the latter is generic over `RequestOctets` and so the received SOA RR and its inner name fields (MNAME and RNAME) will be `Name<N>`? We could modify `Notifiable` to be generic over `Octs` and to take `Name<Octs>` based inputs. Or [`NotifyMiddlewareSvc`] can construct a new `Soa<Name<Bytes>>` by converting the received `Soa<Name<Octs>>`, but then the signature of `notify_zone_changed()` should probably be `soa: Option<Soa<Name<Bytes>>>`, i.e. `Soa` instead of `&Soa`.

I'm a bit reluctant to invest any time in this at the moment as our intent is to invest in the [`domain::new`](https://docs.rs/domain/latest/domain/new/index.html) module which removes the generic octet types used by names in existing domain, and also to offer a new implementation of the service system as part of the new module, and so any improvements would probably be better done as part of that work, especially as it's not clear to me exactly how to proceed here and a work around exists (re-implement `NotifyMiddlewareSvc` yourself, as it is not a lot of code, to pass the missing SOA RDATA on).

Perhaps a middleground would be a way forward, extend `Notifiable` like this instead:

```rust
pub trait Notifiable {
    // Required method
    fn notify_zone_changed(
        &self,
        class: Class,
        apex_name: &Name<Bytes>,
        serial: Serial,
        source: IpAddr,
    ) -> Pin<Box<dyn Future<Output = Result<(), NotifyError>> + Sync + Send + '_>>;
}
```

This would bypass the problem with Name octets, extracting only the useful information that the NOTIFY ANSWER is supposed to be supplying?

Note:

> Currently, the secondary would always have to send an AXFR or IXFR with its existing serial number which may or may not be the latest.

For AXFR and IXFR you will always receive the latest available version of the zone, there is no way in AXFR to request a particular serial number. For AXFR the request lacks a serial number at all, you just get the zone contents that the server has. For IXFR the request contains a serial number but that is your local serial number for which the server will then construct a difference to its latest serial number, you can't request an older serial number.

Hi @pusateri,

The SOA RR is technically optional but may in practice always be present, especially for a given implementation, e.g. BIND 9.

The RFCs state that you "should" query for the SOA after a NOTIFY, I wonder if this is because a UDP NOTIFY could be spoofed and thus the SOA RR should not be trusted, but this is just a guess.

As the "should" is lowercase and the RFC number (1996) is lower than that of RFC 2119 which defines SHOULD (in capitals) we cannot know exactly what the intent was behind the "should", i.e. how strong a requirement it was meant to be.

Also, if a NOTIFY can be configured to be sent via TCP or with DNS COOKIES that could make the request more trustworthy and make it more reliable to trust the included SOA RR. I suspect that when RFC 1996 was written  using TCP wasn't an option, and DNS COOKIES are a more recent invention. I could also imagine that if the NOTIFY can only be received via a trusted network interface (e.g. a private internal network) you could also argue that this also increases the trust level.

Anyway, I think in principle the library shouldn't hide information but let the developer decide what to do, except in cases where it is clearly ill advised, so I'm leaning toward offering the serial number from the SOA RR as an extra parameter on the `notify_zone_changed()` call. 

Thank-you. I currently use TSIG signatures from the bind NOTIFY to the domain library based secondary so I can definitely trust the NOTIFY. It only is sent via UDP which is a shame. I wish it came over TCP / TLS.

I will definitely use the SOA serial if present but will deal with the case when it is not present.

Hi @pusateri,

If you are able to test with a branch of `domain`, please try out branch `561-notifiable-trait-should-include-soa-record-when-calling-notify_zone_changed` and see PR #562 and let me know if that works for you.

Thanks,

Ximon

Yes, just tested your branch and it works great. Thanks!